fastapi
uvicorn[standard]
python-multipart
PyJWT==2.8.0
passlib[bcrypt]
bcrypt==4.0.1
requests
numpy
# Esta es la que faltaba:
scikit-learn
langchain-ollama
langchain-chroma
langchain-community
pypdf
rank_bm25
httpx